.destination {
    display: flex;
    flex-direction: column;
}

.destination, h1 {
    margin-bottom: 2.5rem;
}

.destination > img {
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

legend {
    font: var(--font-headline);
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: var(--text-headline);
}

h1 {
    font: var(--font-h1);
    color: var(--text-primary);
}

.subtitle {
    font: var(--font-subtitle);
    color: var(--text-secondary);
    height: 2.3125rem;
    align-self: center;
}
